{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
    assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif
-%}
{%- if enable_filtering -%}
  <FacetFiltersFormMobile>
    <div class="row-panel facet-drawer" id="Facet-Drawer">
      <div class="row-panel-inner">
        <div class="row-panel-content">
          <facet-filters-form class="facets">
            <form id="FacetFiltersFormMobile" class="facets__mobile_form">
              {%- if results.terms -%}
                <input type="hidden" name="q" value="{{ results.terms | escape }}">
                <input name="options[prefix]" type="hidden" value="last">
              {%- endif -%}
              {% if results.current_vendor or results.current_type %}
                <input type="hidden" name="q" value="{{ results.current_vendor }}{{ results.current_type }}">
              {% endif %}
              {%- for filter in results.filters -%}
                {% case filter.type %}
                  {% when 'boolean', 'list' %}
                    {% if filter.param_name == 'filter.p.tag' %}
                      {% if collection.handle == 'edwin-denim' %}
                        <collapsible-row data-index="{{ forloop.index }}">
                          <details class="thb-filter js-filter" data-index="{{ forloop.index }}" open>
                            <summary class="thb-filter-title tag-hide">
                              <span></span>{{ filter.label | escape }}
                            </summary>
                            <div class="thb-filter-content collapsible__content thb-filter-content__img">
                              <ul class="{{ filter.type | escape }}-{{ slug }} filter-custom-ul">
                                {%- liquid
                                  assign key_array = ''
                                  assign val_array = ''
                                -%}
                                {%- for value in filter.values -%}
                                  <li
                                    class="filter-{{  filter.label | downcase | escape }}-{{ value.value | downcase | escape }} "
                                    style=""
                                    data-handle=""
                                  >
                                    <input
                                      type="checkbox"
                                      name="{{ value.param_name }}"
                                      value="{{ value.value }}"
                                      id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                      {% if value.active %}
                                        checked
                                      {% endif %}
                                      {% if value.count == 0 and value.active == false %}
                                        disabled
                                      {% endif %}
                                      class="visually-hidden"
                                    >
                                    <label
                                      for="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                                      class="facet-checkbox{% if value.count == 0 and value.active == false %} facet-checkbox--disabled{% endif %} filter-custom-img"
                                      data-tooltip="{{ value.label | escape }} ({{ value.count }})"
                                    >
                                      <span class="collection-filters__facet-image">
                                        <img
                                          src="{{ value.label | downcase | handleize | append: '.jpg' | asset_url }}"
                                          alt="{{ value.label | escape }}"
                                        >
                                      </span>
                                      <span class="collection-filters__facet-text">{{ value.label | escape }}</span>
                                    </label>
                                  </li>
                                {%- endfor -%}
                              </ul>
                            </div>
                          </details>
                        </collapsible-row>
                      {% endif %}
                    {% endif %}
                {% endcase %}
              {%- endfor -%}
            </form>
          </facet-filters-form>
        </div>
      </div>
    </div>
  </FacetFiltersFormMobile>
{%- endif -%}
