{% if sub_collection and sub_collection.all_products_count > 0 %}
    {% assign columns_desktop = 3 %}
    {% assign columns_class = 'small-6 medium-6 large-4' %}
    <div class="jeans-collection__sub-collection-container row full-width-row no-padding"
         id="sub-collection-{{ sub_collection.id }}">
        <div class="jeans-collection__sub-collection_left_container small-12 medium-3 columns">
            <div class="jeans-collection__sub-collection_title">
                {{ sub_collection.metafields.custom.displaying_name.value }}
            </div>
            <div class="jeans-collection__sub-collection_description">
                {{ sub_collection.description }}
            </div>
            <div class="jeans-collection__sub-collection_shop_btn_container">
                <a class="button accent2" href="{{ sub_collection.url }}">
                    <span>Shop Now</span>
                </a>
            </div>
        </div>
        <div class="jeans-collection__sub-collection_right_container small-12 medium-9 columns">
            <div class="jeans-collection__sub-collection_top3_products">
                <ul id="product-grid-{{ sub_collection.id }}" data-id="{{ sub_collection.id }}"
                    class="products carousel row small-up-2 medium-up-{{ columns_desktop }}">
                    {% for product in sub_collection.products limit: 3 %}
                        <li class="{{ columns_class }} columns carousel__slide"
                            data-collection="{{ block.settings.collection.handle }}">
                            {% render 'product-card', product_card_product: product %}
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endif %}
