{%- if product_card_product and product_card_product != empty -%}
  {% liquid
    assign products_hover_images = settings.products_hover_images
    assign products_hover_images_count = settings.products_hover_images_count
    assign product_aspect_ratio = settings.product_aspect_ratio
    assign featured_media = product_card_product.featured_media
    assign ratio = 1
    assign sizes = '375x375,770x770'

    if featured_media.media_type != 'image'
      assign featured_media = featured_media.preview_image
    endif
    if product_aspect_ratio == 'adapt'
      assign ratio = featured_media.aspect_ratio
      assign sizes = '375x0,770x0'
    elsif product_aspect_ratio == 'portrait'
      assign ratio = 1 | divided_by: 1.25
      assign sizes = '375x350,770x700'
    elsif product_aspect_ratio == 'landscape'
      assign ratio = 1 | divided_by: 0.75
      assign sizes = '375x250,770x500'
    endif
    assign product_content_alignment = settings.product_content_alignment
    assign altvalue = product_card_product.metafields.global.description_tag.value
    if altvalue == blank
      assign altvalue = product_card_product.title
    endif    
  -%}        
  <product-card class="product-card pt-test text-{{ product_content_alignment }} 1111">
    <figure class="product-featured-image {% if products_hover_images and product_card_product.images.size > 1 and products_hover_images_count > 0 %}thb-hover{% endif %}">
      <div class="badge-group">
        <div>
          {% assign detect_clearance = false %}
          {% for col in product_card_product.collections %}
            {% if col.handle == 'clearance' %}{% assign detect_clearance = true %}{% endif %}
          {% endfor %}
          {% if detect_clearance == false %}
          {% render 'product-card-badge', product_card_product: product_card_product %}
          {% endif %}
          
          <!-- Limited Time Discount Badge -->
          {% if settings.show_limited_time_discount_badge %}
            {% assign original_price = product_card_product.price_min %}
            {% assign compare_price = product_card_product.compare_at_price_min %}
            {% if compare_price > original_price %}
              {% assign discount_amount = compare_price | minus: original_price %}
              {% assign discount_percentage = discount_amount | times: 100 | divided_by: compare_price %}
              {% assign remainder = discount_percentage | modulo: 5 %}
              {% if remainder >= 3 %}
                {% assign discount_percentage = discount_percentage | plus: 5 | minus: remainder %}
              {% else %}
                {% assign discount_percentage = discount_percentage | minus: remainder %}
              {% endif %}
              <span class="badge limited-time-discount {{ badge_position }}">LIMITED TIME: {{ discount_percentage }}% OFF</span>
            {% endif %}
          {% endif %}
          
          {% assign badge_position = settings.badge_position %}
          {% for col in product_card_product.collections %}
            {% if col.title == 'NEW ARRIVALS' %}
              <span class="badge newin {{ badge_position }}"> NEW </span>
            {% endif %}
            {% if col.handle == 'clearance' %}
              <span class="badge clearance {{ badge_position }}"> CLEARANCE </span>
            {% endif %}
          {% endfor %}
          {% assign tags_string = product_card_product.tags | join: ',' | downcase %}          
          {% if tags_string contains 'coming-soon' %}
            <span class="badge newin comingsoon top left"> COMING SOON </span>
          {% endif %}
        </div>
        <div>
          {% for col in product_card_product.collections %}
            {% if col.title == 'BEST SELLERS' %}
              <span class="badge bestseller top right"> BEST SELLER </span>
            {% endif %}
          {% endfor %}          
        </div>
      </div>
      <a
        href="{{ product_card_product.url }}"
        {% comment %} title="{{ product_card_product.title | escape }}" {% endcomment %}
        class="product-featured-image-link aspect-ratio aspect-ratio--{{ settings.product_aspect_ratio }}"
        style="--padding-bottom: {{ 1 | divided_by: ratio | times: 100 }}%;"
      >                
        <div class="media_mobile">
          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide primary-image">
                {%- if featured_media -%}
                  {% if product_card_product.media[0].sources[1].url contains '.mp4' %}              
                <video
                  src="{{product_card_product.media[0].sources[1].url}}"
                  loop
                  muted
                  playsinline
                  autoplay
                ></video>
            {% else %}              
                  {%- render 'responsive-image',
                    class: 'product-primary-image-disable image_mobile_top',
                    image: featured_media,
                    sizes: sizes,
                    alt: altvalue
                  -%}
                    {%- endif -%}
                {%- else -%}
                  <div class="thb-placeholder">
                    {{ 'product-1' | placeholder_svg_tag }}
                  </div>
                {%- endif -%}
              </div>
              <div class="swiper-slide">
                {%- if products_hover_images and product_card_product.images.size > 1 -%}
                  {% assign has_video = 0 %}
                  {% for media in product_card_product.media %}
                    {% if media.media_type == 'video' %}
                      {% assign has_video = forloop.index0 %}
                      {% break %}
                    {% endif %}
                  {% endfor %}
                  {% if has_video == 0 %}
                    {%- render 'responsive-image',
                      class: 'product-secondary-image-disable  image_mobile_bottom',
                      image: product_card_product.images[1],
                      sizes: sizes,
                      alt: altvalue
                    -%}
                  {% else %}
                    {% if product_card_product.media[has_video].sources[0].url contains '.mp4' %}
                      <video
                        src="{{product_card_product.media[has_video].sources[0].url}}"
                        loop
                        muted
                        playsinline
                        autoplay
                      ></video>
                    {% else %}
                      <video
                        src="{{product_card_product.media[has_video].sources[1].url}}"
                        loop
                        muted
                        playsinline
                        autoplay
                      ></video>
                    {% endif %}
                  {% endif %}
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
        <div class="media_desktop">
          {%- if products_hover_images and product_card_product.images.size > 1 -%}
            {% assign has_video = 0 %}
            {% for media in product_card_product.media %}
              {% if media.media_type == 'video' %}
                {% assign has_video = forloop.index0 %}
                {% break %}
              {% endif %}
            {% endfor %}
            {% if has_video == 0 %}              
              {%- render 'responsive-image',
                class: 'product-secondary-image',
                image: product_card_product.images[1],
                sizes: sizes,
                alt: altvalue
              -%}
            {% else %}
              {% if product_card_product.media[has_video].sources[0].url contains '.mp4' %}
                <video
                  src="{{product_card_product.media[has_video].sources[0].url}}"
                  loop
                  muted
                  playsinline
                  autoplay
                ></video>
              {% else %}
                <video
                  src="{{product_card_product.media[has_video].sources[1].url}}"
                  loop
                  muted
                  playsinline
                  autoplay
                ></video>
              {% endif %}
            {% endif %}
            {% comment %}
              {%- for i in (1..products_hover_images_count) -%}
              	  {%- if product_card_product.images[i] -%}
              {%- render 'responsive-image', class: 'product-secondary-image', image: product_card_product.images[i], sizes: sizes -%}
              {%- endif -%}
              {%- endfor %}
            {% endcomment %}
          {%- endif -%}
          {%- if featured_media -%}
            {% if has_video == 0 and product_card_product.media[has_video].sources[1].url contains '.mp4' %}              
                <video
                  src="{{product_card_product.media[has_video].sources[1].url}}"
                  loop
                  muted
                  playsinline
                  autoplay
                ></video>
            {% else %}
              {%- render 'responsive-image', class: 'product-primary-image', image: featured_media, sizes: sizes, alt: altvalue -%}
            {% endif %}
          {%- else -%}
            <div class="thb-placeholder">
              {{ 'product-1' | placeholder_svg_tag }}
            </div>
          {%- endif -%}
        </div>
        {%- if settings.enable_quick_view -%}
          <button
            class="product-card-quickview"
            href="#Product-Drawer"
            data-product-handle="{{ product_card_product.handle }}"
            tabindex="-1"
          >
            <div class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</div>
            <span>
              <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.36883 14.1V7.83H0.0988282V6.57H6.36883V0.299999H7.62883V6.57H13.8988V7.83H7.62883V14.1H6.36883Z" fill="black"/>
              </svg>
            </span>
          </button>
        {%- endif -%}
      </a>
      <span class="select-size-loading-overlay size-loading-{{ product_card_product.id }}">
        <span class="select-size-loading-overlay-inner">
          {% render 'svg-icons' with 'thb-loading' %}
        </span>
      </span>
      <div class="select-size" data-handle="{{ product_card_product.id }}">
        <svg width="14" height="15" viewBox="0 0 14 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.36883 14.1V7.83H0.0988282V6.57H6.36883V0.299999H7.62883V6.57H13.8988V7.83H7.62883V14.1H6.36883Z" fill="black"/>
        </svg>
      </div>
      {% render 'saitex-selectsize', product: product_card_product %}
    </figure>
    <div class="product-card-info">
      <div class="product-card-vendor">
        {% comment %} <a href="{{ product_card_product.vendor | url_for_vendor }}" title="{{ product_card_product.vendor | escape }}">{{ product_card_product.vendor }}</a> {% endcomment %}
        {{ product_card_product.metafields.custom.product_type | metafield_tag | capitalize }}
      </div>
      <div class="title-price">
        <a
          href="{{ product_card_product.url }}"
          {% comment %} title="{{ product_card_product.title | escape }}" {% endcomment %}
          class="product-card-title"
        >
          {% assign title_tmp = product_card_product.title | split: '||' %}
          {{- title_tmp[0] -}}
          {% if title_tmp[1] != null %}
            <div class="color-name">IN {{ title_tmp[1] }}</div>
          {% endif %}
        </a>
        {% render 'product-price', product: product_card_product %}
      </div>

      {% comment %} {% render 'product-card-swatch', product: product_card_product, sizes: sizes %} {% endcomment %}
      {% unless product_card_product.tags contains 'Bundles' %}
      {% render 'edwin-color-list', product: product_card_product, title_new: title_tmp[1] %}
      {% endunless %}

      {%- if settings.show_products_rating and product_card_product.metafields.reviews.rating.value != blank -%}
        <div
          class="star-rating"
          style="--star-rating: {{ product_card_product.metafields.reviews.rating.value.rating }};"
        ></div>
      {%- endif -%}
    </div>
  </product-card>
{%- else -%}
  <product-card class="product-card">
    <figure class="product-featured-image {% if settings.products_hover_images %}thb-hover{% endif %}">
      <a
        href="{{ product_card_product.url }}"
        title="{{ product_card_product.title | escape }}"
        class="product-featured-image-link aspect-ratio aspect-ratio--{{ settings.product_aspect_ratio }}"
        style="--padding-bottom: {{ 1 | divided_by: 1 | times: 100 }}%;"
      >
        <div class="thb-placeholder">
          {{ 'product-1' | placeholder_svg_tag }}
        </div>
        <button
          class="product-card-quickview"
          href="#Product-Drawer"
          data-product-handle="{{ product_card_product.handle }}"
          tabindex="-1"
        >
          <div class="loading-overlay">{% render 'svg-icons' with 'thb-loading' %}</div>
          <span>{{ 'products.product.quick_view' | t }}</span>
        </button>
      </a>
    </figure>
    <div class="product-card-info">
      <div class="product-card-vendor">
        <a href="#" title="{{ 'onboarding.product_vendor' | t }}">{{ 'onboarding.product_vendor' | t }}</a>
      </div>
      <a href="#" title="{{ product_card_product.title | escape }}" class="product-card-title">
        {{- 'onboarding.product_title' | t -}}
      </a>
      {% render 'product-price', product: product_card_product %}
      {%- if settings.show_products_rating and product_card_product.metafields.reviews.rating.value != blank -%}
        <div class="star-rating" style="--star-rating: 5;"></div>
      {%- endif -%}
    </div>
  </product-card>
{%- endif -%}