<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<product-form
  class="product-form product-form-bundle"
  data-section="{{ section.id }}{{ product.id }}"
  data-hide-errors="{{ gift_card_recipient_feature_active }}"
>
  <div class="product-form__error-message-wrapper form-notification error" role="alert" hidden>
    {% render 'svg-icons' with 'thb-error' %}
    <span class="product-form__error-message"></span>
  </div>
  {%- assign product_form_id = 'product-form-' | append: section.id | append: product.id -%}
  {% capture formclass %}form newquickaddform form-{{ product.id }}{% endcapture %}
  {%- form 'product',
    product,
    id: product_form_id,
    class: formclass,
    novalidate: 'novalidate',
    data-type: 'add-to-cart-form'
  -%}
    {% comment %} <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}"> {% endcomment %}
    <div class="variant-select-wrapper">
      <select
        id="variant-select-{{ product.id }}"
        name="id"
        class="variant-select-bundle "
        onchange="this.form.querySelector('input[name=id]').value=this.value;"
      >
        <option value="" selected>Choose your size</option>
        {% for variant in product.variants %}
          <option
            value="{{ variant.id }}"
            {% unless variant.available %}
              disabled
            {% endunless %}
          >
            {{ variant.title -}}
            {%- unless variant.available %} - {{ 'products.product.sold_out' | t }}{% endunless %}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class="product-add-to-cart-container">
      <div class="form-notification error" style="display:none;"></div>
      <div class="add_to_cart_holder">
        <button
          type="submit"
          name="add"
          id="AddToCart-{{ product.id }}"
          class="single-add-to-cart-button-{{ product.id }} text-button outline {% unless product.selected_or_first_available_variant.available %}sold-out{% endunless %}"
          {% if product.selected_or_first_available_variant.available == false %}
            disabled
          {% endif %}
        >
          <span class="single-add-to-cart-button--text">
            {%- if product.selected_or_first_available_variant.available -%}
              {{ 'products.product.add_to_cart' | t }}
            {%- else -%}
              {{ 'products.product.sold_out' | t }}
            {%- endif -%}
          </span>
          <span class="loading-overlay">
            {% render 'svg-icons' with 'thb-loading' %}
          </span>
        </button>
      </div>
    </div>
  {%- endform -%}
</product-form>

<script>
  $('[data-selectsize2-pick]').on('click', function (event) {
    var $this = $(this);
    var variantID = $this.attr('data-variant-id');
    var variantvalue = $this.closest('.product-card-info').find('.variant-value');
    var form = $this.closest('.product-card-info').find('form');
    variantvalue.removeClass('is-select');
    $this.addClass('is-select');
    form.find('input[name=id]').val(variantID);
  });
</script>
