{{- 'breadcrumbs.css' | asset_url | stylesheet_tag -}}
<scroll-shadow>
	<nav class="breadcrumbs" aria-label="breadcrumbs">
	  <a href="{{ routes.root_url }}" title="{{ 'sections.breadcrumbs.home' | t | escape }}">{{ 'sections.breadcrumbs.home' | t }} - </a>
	  {% if collection.url %}
	    <a href="{{ collection.url }}" title="{{ collection.title | escape }}"  style=" padding-left: 3px;">{{ collection.title }}  - </a>
	  {% endif %}
		{% if template contains 'cart' %}
	    <i>/</i>
	    {{ 'sections.breadcrumbs.cart' | t }}
	  {% endif %}
	  {% if template contains 'product' %}
	    {% assign title_tmp = product.title | split: '||' %}          
	    <span style=" font-weight: 700; padding-left: 3px; text-transform: uppercase;">{{ title_tmp[0] }}</span>
	  {% endif %}
	  {% if template contains 'blog' %}
			{% if current_tags %}
				<i>/</i>
		    <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
				<i>/</i>
				{{ current_tags }}
			{% else %}
				<i>/</i>
				{{ blog.title }}
			{% endif %}
	  {% endif %}
		{% if template contains 'article' %}
	    <i>/</i>
	    <a href="{{ blog.url }}" title="{{ blog.title | escape }}">{{ blog.title }}</a>
	    <i>/</i>
	    {{ article.title }}
	  {% endif %}
	  {% if template contains 'page' %}
	    <i>/</i>
	    {{ page.title }}
	  {% endif %}
		{% if template contains 'search' %}
	    <i>/</i>
	    {{ 'sections.breadcrumbs.search' | t }}
	  {% endif %}
		{% if template contains 'customers' %}
	    <i>/</i>
	    {{ 'sections.breadcrumbs.my_account' | t }}
	  {% endif %}
	</nav>
</scroll-shadow>
{% schema %}
{
	"name": "Breadcrumbs",
	"class": "breadcrumbs-section"
}
{% endschema %}
