{{- 'sustainable-custom.css' | asset_url | stylesheet_tag -}}
{{- 'image-with-text-overlay.css' | asset_url | stylesheet_tag -}}
{%- liquid
  assign section_width = section.settings.section_width
  assign image = section.settings.image
  assign image_parallax = section.settings.image_parallax
  assign content_width = section.settings.content_width
  assign content_position = section.settings.content_position
  assign text_alignment = section.settings.text_alignment
  assign overlay_opacity = section.settings.overlay_opacity
  assign disable_top_spacing = section.settings.disable_top_spacing
  assign disable_bottom_spacing = section.settings.disable_bottom_spacing

-%}
<div class="row {{ section_width }}">
  <div class="small-12 columns">
    <image-with-text-overlay
      class="image-with-text-overlay overlay-sus text-{{ text_alignment }} section-spacing{% if disable_top_spacing %} section-spacing--disable-top{% endif %}{% if disable_bottom_spacing %} section-spacing--disable-bottom{% endif %}"
      style="--overlay-opacity: {{ overlay_opacity | divided_by: 100.0 }};"
    >
      <div class="image-with-text-overlay--bg parallax--{{ image_parallax }}">
        {% if image %}
          {%- liquid
            assign small_width = image.src.height | times: '375' | divided_by: image.src.width
            assign master_width = image.src.width | append: 'x' | append: image.src.height
            assign width = '375x' | append: small_width | append: ',' | append: master_width

            assign class = ''
            if image_parallax
              assign class = 'thb-parallax-image'
            endif

            if section.settings.mobile_image
              assign class = class | append: ' image-with-text-overlay--desktop'
            endif
          -%}
          {%- render 'responsive-image', image: image, sizes: width, class: class -%}
        {% endif %}
        {%- if section.settings.mobile_image -%}
          {%- liquid
            assign image = section.settings.mobile_image
            assign master_width = image.src.width | append: 'x' | append: image.src.height
            assign width = '375x' | append: mobile_image_height | append: ',' | append: master_width

            assign class = ''
            if image_parallax
              assign class = 'thb-parallax-image'
            endif

            assign class = class | append: ' image-with-text-overlay--mobile'
            render 'responsive-image', image: image, sizes: width, class: class
          -%}
        {%- endif -%}
      </div>

      <div class="image-with-text-overlay--content scroll content-{{ content_position }}">
        <div class="image-with-text-overlay--content-inner content-width-{{ content_width }}">
          
          {% for block in section.blocks %}
            {%- case block.type -%}
              {%- when 'subheading' -%}
                <p class="subheading" {{ block.shopify_attributes }}>{{ block.settings.text }}</p>
              {%- when 'heading' -%}
                <h3 class="{{ block.settings.heading_size }}">
                  {{ block.settings.text | newline_to_br }}
                </h3>
              {%- when 'text' -%}
                <div class="rte rte-sus text-content description-size--{{ block.settings.description_size }}" {{ block.shopify_attributes }}>
                  {{ block.settings.text }}
                </div>
            {%- endcase -%}
          {% endfor %}
        </div>
      </div>
    </image-with-text-overlay>
  </div>
</div>
<script src="{{ 'image-with-text-overlay.js' | asset_url }}" defer="defer"></script>
{% schema %}
{
  "name": "Sustainable Scroll Text",
  "class": "section-sustainable-scroll-text",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "grid",
          "label": "Grid"
        }, {
          "value": "full-width-row",
          "label": "Full width"
        }, {
          "value": "full-width-row-full",
          "label": "Full width, no spacing"
        }
      ],
      "default": "grid",
      "label": "Section width"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image",
      "info": "2800 x 650 .jpg recommended."
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image (optional)",
      "info": "375 x 650 .jpg recommended."
    },
    {
      "type": "checkbox",
      "id": "image_parallax",
      "default": false,
      "label": "Enable parallax",
      "info": "Animations must be enabled in theme settings"
    }, 
    {
      "type": "select",
      "id": "content_width",
      "label": "Content width",
      "options": [
        {
          "value": "small",
          "label": "Small"
        }, {
          "value": "medium",
          "label": "Medium"
        }, {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium"
    }, {
      "type": "select",
      "id": "content_position",
      "label": "Content position",
      "options": [
        {
          "value": "middle-left",
          "label": "Middle left"
        },
        {
          "value": "middle-center",
          "label": "Middle center"
        },
        {
          "value": "middle-right",
          "label": "Middle right"
        },
        {
          "value": "bottom-left",
          "label": "Bottom left"
        }, {
          "value": "bottom-center",
          "label": "Bottom center"
        }, {
          "value": "bottom-right",
          "label": "Bottom right"
        }
      ],
      "default": "bottom-center"
    }, {
      "type": "select",
      "id": "text_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        }, {
          "value": "center",
          "label": "Center"
        }, {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Content alignment"
    }, {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Overlay opacity",
      "default": 30
    }, {
      "type": "header",
      "content": "Spacing"
    }, {
      "type": "checkbox",
      "id": "disable_top_spacing",
      "default": false,
      "label": "Remove top spacing"
    }, {
      "type": "checkbox",
      "id": "disable_bottom_spacing",
      "default": false,
      "label": "Remove bottom spacing"
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Add a tagline"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Image with text overlay"
        }, {
          "type": "select",
          "id": "heading_size",
          "label": "Size",
          "options": [
            {
              "value": "h2",
              "label": "Small"
            }, {
              "value": "h1",
              "label": "Medium"
            }, {
              "value": "h1-large",
              "label": "Large"
            }, {
              "value": "h1-xlarge",
              "label": "Extra large"
            }
          ],
          "default": "h1-xlarge"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Content",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        }, {
          "type": "select",
          "id": "description_size",
          "label": "Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            }, {
              "value": "medium",
              "label": "Medium"
            }, {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "medium"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Sustainable Scroll Text"
      
    }
  ]
}
{% endschema %}
